footer {
    background: $elements_background;
    color: $elements_color;
    
    .container {
        padding: 2.8em 5%;

        section {
            margin: 0 0 1.5em;

            .links {
                display: flex;
                flex-direction: column;
                gap: 0.5em;

                a {
                    color: $elements_color;
                    font-weight: 500;
                }
            }
        }

        .branding {
            .title {
                font-size: 1.5em;
                margin: 0.2em 0;
            }
        }

        .site_map,
        .services,
        .contacts {
            .title {
                margin: 0 0 0.4em;
                font-size: 1.2em;
            }
        }

        .contacts {
            .socials {
                margin: 0.8em 0 0;

                img {
                    width: 24px;
                    height: 24px;
                    margin: 0 1em 0 0;
                }
            }
        }
    }

    .copyright {
        border-top: 1px solid $faded_line;
        text-align: center;
        padding: 12px;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        .container {
            display: grid;
            grid-template-columns: 30% 1fr 1fr 1fr;

            section {
                margin: 0;
            }

            .contacts {
                justify-self: center;
            }
        }
    }
}